{{!-- main layout placeholder --}}
<!DOCTYPE html>
<html>
  <head>
    <title>CS546 Final Project</title>
    <link rel="stylesheet" href="/public/css/styles.css">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
